<div class="card">
  <div class="card-body">
    <h4>Reactive Forms</h4>
    <form novalidate [formGroup]="form">
      <div class="form-group">
        <label for="firstName" class="col-form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="first" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lastName" class="col-form-label">Last Name</label>
        <input type="email" class="form-control" id="lastName" formControlName="last" placeholder="Last name">
      </div>

      <div formGroupName="account">
        <label class="col-form-label">Account</label>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="confirm" placeholder="Confirm Password">
        </div>
      </div>

      <div class="form-group">
        <label>Would you like to receive a newsletter?</label>
        <br>
        <app-switch-control formControlName="newsletter"></app-switch-control>

      </div>

      <div>
        <label>Address</label>
        <button class="btn btn-success btn-sm ml-2" (click)="addAddress()"> Add </button>

        <div formArrayName="addresses" *ngFor="let address of form.get('addresses').controls; let i = index;">
          sdfas
          <div class="row" [formGroupName]="i">
            <div class="form-group col">
              <input type="text" class="form-control" formControlName="street" placeholder="Street">
            </div>
            <div class="form-group col">
              <input type="text" class="form-control" formControlName="city" placeholder="City">
            </div>

            <!-- {{form.get('addresses').controls[i].get('street').status}} -->
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<br>
<div class="card">
  <div class="card-body">
    Form: {{ form.value | json}} <br>
    Form Status: {{form.status}} <br>
    Password Status: {{form.get('account.password').status}} <br>
    Account Status: {{form.get('account').status}}
  </div>
</div>