<div class="card">
  <div class="card-body">
    <h4>Template Driven Forms</h4>
    <form novalidate #f="ngForm">
      <div class="form-group">
        <label for="firstName" class="col-form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" [ngModel]="name.first" name="first" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lastName" class="col-form-label">Last Name</label>
        <input type="email" class="form-control" id="lastName" [ngModel]="name.last" name="last" placeholder="Last name">
      </div>

      <div ngModelGroup="account" password-matcher #account="ngModelGroup">
        <label class="col-form-label">Account</label>
        <div class="form-group">
          <input type="email" class="form-control" ngModel name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" ngModel name="password" placeholder="Password" required #password="ngModel">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" ngModel name="confirm" placeholder="Confirm Password" required>
        </div>
      </div>

      <div class="form-group">
        <label>Would you like to receive a newsletter?</label>
        <br>
        <app-switch-control name="newsletter" ngModel></app-switch-control>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>


<br>
<div class="card">
  <div class="card-body">
    Form: {{f.value | json}} <br>
    Form Status: {{ f.status}} <br>
    Password Status: {{password.status}} <br>
    Account Status: {{account.status}}
  </div>
</div>